body{
    margin: 0;
}

.container{
    width: 250px;
}

.item{
    border: 1px solid red;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    justify-content: center;
}

/* END AULA 2 */
/* AULA 3 */

.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-betwenn{
    justify-content: space-between;
}

/* END AULA 3 */